<footer class="main-footer">
  <div>
    <div class="footer-logo-wrapper">
      <div><a href="/" class="header-logo">Dawflix</a></div>
      <div class="footer-copyright">&copy; Dawflix - 2022</div>
    </div>
    <div class="social-icons">
      <a href="https://instagram.com/dawflix">
        <i class="fa-brands fa-instagram" alt="Nuestro perfil de Instagram"></i>
      </a>
      <a href="https://twitter.com/dawflix">
        <i class="fa-brands fa-twitter" alt="Nuestro perfil de Twitter"></i>
      </a>
      <a href="https://facebook.com/dawflix">
        <i class="fa-brands fa-facebook" alt="Nuestro Facebook"></i>
      </a>
      <a href="https://youtube.com/dawflix">
        <i class="fa-brands fa-youtube" alt="Nuestro canal de YouTube"></i>
      </a>
    </div>
  </div>
  <div class="footer-col">
    <div class="footer-col-title">Nuestra Empresa</div>
    <div class="footer-col-item"><a href="#"> Audio y Subtitulos</a></div>
    <div class="footer-col-item"><a href="#"> Zona de Prensa </a></div>
    <div class="footer-col-item"><a href="#"> Privacidad</a></div>
  </div>
  <div class="footer-col">
    <div class="footer-col-title">Contacto</div>
    <div class="footer-col-item"><a href="#"> Contactanos</a></div>
    <div class="footer-col-item"><a href="#"> Publicidad </a></div>
    <div class="footer-col-item"><a href="#"> Política de cookies</a></div>
  </div>
  <div class="footer-col">
    <div class="footer-col-title">Servicios</div>
    <div class="footer-col-item"><a href="#"> Cuenta</a></div>
    <div class="footer-col-item"><a href="#"> Empleo </a></div>
    <div class="footer-col-item"><a href="#"> Canjear tarjetas regalo</a></div>
  </div>
</footer>